
h3{
    text-align: center;
  }
   
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  
  input[type="text"],
  input[type="email"] {
    padding: 10px;
    margin-top: 10px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #354D73;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }