<div class="content-contactlist">
<h2>PAGINA DE CONTACTOS</h2>
<p> 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit esse porro,
    exercitationem animi obcaecati repellat. Cumque repudiandae culpa illum ut adipisci s
    it dolorem error, accusantium minus, eos ipsum saepe nemo.
</p>

<div>
    <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Juan Pérez</td>
            <td>juan.perez@example.com</td>
          </tr>
          <tr>
            <td>María González</td>
            <td>maria.gonzalez@example.com</td>
          </tr>
          <tr>
            <td>Carlos Fernández</td>
            <td>carlos.fernandez@example.com</td>
          </tr>
        </tbody>
      </table>
      
</div>

</div>

