<h3> Contactos guardados</h3>

<span *ngIf="listContactFire.length === 0">No existen contactos</span>

<div>
  <table>
      <thead *ngIf="listContactFire.length !== 0">
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Accion</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of listContactFire | async" >
          <td>{{contacto.cedula}}</td>
          <td>{{contacto.nombre}}</td>
          <td>{{contacto.direccion}}</td>
          <td> <a (click)="edit(contacto)" id="edit" >editar </a>  &nbsp; <a (click)="delete(contacto)" id="delete" >Eliminar</a></td>
        </tr>
        
      </tbody>
    </table>
    
</div>