<div class="settings-page">
    <h2>PAGINA DE AJUSTES</h2>
    <P>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam est odit quod inventore reiciendis nostrum
        veniam! Fugiat esse ratione beatae officia
        repudiandae molestiae fuga deserunt natus id et? Voluptatem, fugiat.

        ultim linea del texto.
    </P>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id mi sit amet urna interdum tempus id sit amet
        sapien. Integer et dapibus arcu. Praesent consectetur aliquet purus eu vehicula. Aliquam tincidunt quam ipsum,
        sit amet accumsan purus lacinia in. Duis tincidunt faucibus ante consequat congue. Maecenas imperdiet turpis
        dui, in rhoncus libero aliquam quis. Pellentesque molestie ultricies placerat. Vestibulum lectus lectus,
        interdum eu risus et, placerat sollicitudin massa. Nunc et ipsum non metus efficitur consectetur vel non ex.

        Nulla in ipsum pretium, interdum sem a, fringilla diam. Proin lobortis semper facilisis. Integer vitae nunc sed
        urna placerat aliquam. Nulla non porta sem, vitae tristique nulla. Ut sit amet rutrum nunc, non congue tortor.
        Maecenas sit amet justo eu sem pellentesque semper. Proin pulvinar, enim nec fermentum luctus, augue velit
        semper eros, sed viverra elit justo non elit. Donec euismod interdum metus, eget fringilla metus porttitor at.
        Mauris imperdiet varius scelerisque. Donec egestas cursus dui faucibus bibendum. Mauris sed euismod est, vitae
        viverra nisl. Nullam luctus sagittis hendrerit. Integer tincidunt porttitor ligula, sit amet fringilla quam
        sollicitudin sed. Etiam sodales efficitur dolor vel commodo.

        Phasellus sed consequat dolor, in blandit enim. Ut sit amet urna egestas lacus tincidunt hendrerit eget in enim.
        Ut imperdiet tellus nec leo pretium lacinia. In interdum et nisi ac molestie. Curabitur congue risus eleifend,
        hendrerit ex eget, fringilla leo. Cras vel est at erat scelerisque mollis ut quis nisl. Integer luctus, mauris
        sit amet accumsan ullamcorper, augue arcu fringilla mi, eget tempus libero ligula ac elit. Duis est odio,
        vestibulum at tristique vitae, mattis sit amet elit. Donec sapien ex, vulputate a tortor id, fringilla laoreet
        eros. Nulla sit amet quam enim.

        Vestibulum eget augue dui. Cras accumsan est sit amet neque aliquet tristique. Etiam pretium ultricies orci, a
        vulputate felis pharetra nec. In et volutpat nisl, venenatis imperdiet elit. Nulla malesuada feugiat arcu. Sed
        varius nulla vitae ipsum vestibulum, nec ultrices libero eleifend. Maecenas in sollicitudin libero. Fusce
        egestas ex at ante fermentum mollis. Vivamus iaculis ex vel ultrices tincidunt. Vestibulum malesuada suscipit
        erat vitae cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Cras ac nibh leo.

        Vivamus elementum fringilla nisl, et imperdiet mi condimentum non. Curabitur maximus sodales varius. Morbi
        ultricies, lectus non convallis feugiat, dolor nibh maximus orci, non vehicula odio mi ut neque. Donec
        condimentum semper convallis. In imperdiet orci ut turpis dapibus auctor. Pellentesque semper, lacus vel
        efficitur porttitor, augue eros venenatis lectus, vel suscipit elit enim vulputate velit. Sed vel velit bibendum
        turpis sagittis bibendum.
    </p>

    <p>
        Ultima linea del texto
    </p>
</div>