.header-container{
  display: block;
  margin: 0 auto;
  background-color: #333;
  border: solid #000 2px;
  text-align: center;
}


.header-logo{
    display: block;
    margin: 0 auto;
}

  .header-logo img {
    width: 150px;
    height: 100px;
  }
  
  .header-title {
    display: block;
    margin: 0 auto;
    // float: center;
    // text-align: center;
    color: white;
  }