.main-component{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-component {
    position: fixed;
    display: block;
    top:0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 999;
  }
  

  .footer-component {
    
    display: block;
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
  }

.left-side-component{
    
    position: fixed;
    margin-top: 227px;
    left: 0;
    width: 200px;
    height: 100%;
    
    
}

.right-side-component{
    
    position: fixed;
    margin-top: 227px;
    right: 0;
    width: 250px;
    height: 100%;
        
      
}
  
