<div class="leftsidebar-container">
  <nav>
    <ul>
      <li><a routerLink="pages/home">Inicio</a></li>
      <li><a routerLink="pages/contactlist">Contactos</a></li>
      <li><a routerLink="pages/productform">Nuevo Producto</a></li>
      <li><a routerLink="pages/productlist">Productos</a></li>
      <li><a routerLink="pages/about">Acerca de</a></li>
      <li><a routerLink="pages/clientList">Clientes</a></li>
      <li><a routerLink="pages/clientForm">Nuevo Cliente</a></li>
      <li><a href="#">Salir</a></li>
    </ul>
  </nav>
</div>
