<h2> Lista de Clientes</h2>
<h3>Clientes recuperados desde backend java</h3>

<button mat-button  color="primary" routerLink="/pages/clientForm">
  <mat-icon>add</mat-icon>
  Nuevo cliente
</button>

<span *ngIf="listaClientes.length === 0">No existen clientes</span>

<div>
  <table>
      <thead *ngIf="listaClientes.length !== 0">
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>apellido</th>
          <th>direccion</th>
          <th>telefono</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of listaClientes | async" >
          <td>{{cliente.cedula}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.direccion}}</td>
          <td>{{cliente.telefono}}</td>
          <td> <a (click)="editar(cliente)"  id="edit"> editar</a> &nbsp; <a (click)="eliminar(cliente)"  id="delete">eliminar</a></td>
        
        </tr>
        
      </tbody>
    </table> 
</div>